@charset "utf-8";
body img {opacity: 1;}
body:hover img:hover {opacity: 0.9;}
body { margin:0 auto; font-size:12px; background:#fff; font-family:宋体,Arial, Helvetica, sans-serif; }
a:hover { color: #3BA354; text-decoration:none; }
#ls_password, #ls_name{ width:98px; height:14px}
#scbar_btn, .scbar_btn_td{ width: 42px}
#scbar_hot_td{ height:22px}
.scbar_hot_td{ width: 960px; border-top: 5px solid #dbdbdb; display: block; overflow: hidden; line-height: 32px;}
#login_dl{background: url(logina.gif) no-repeat scroll 0 0 #E5E5E5;border: medium none;cursor: pointer;float: left;height: 18px;overflow: hidden;padding: 0;text-indent: -9999px;width: 46px;}
#login_zc {background: url(logina.gif) no-repeat scroll 0 -18px #E5E5E5;border: medium none;cursor: pointer;float: left;height: 18px;overflow: hidden;padding: 0;text-indent: -9999px;width: 46px;}
#um{padding-right:0; display: block}
#um p {text-align: right; margin-left: 10px; display: inline; float:right}
#um, #um p a, #um a{ color: #ccc}
#um a:hover, #new_top .xl em a:hover{ color:#3BA354}
.nav_pop li a:hover {background: none repeat scroll 0 0 #3BA354;color: #FFFFFF !important;}
.logo_ad{ text-align: left; display: block; width: 960px; height:83px; overflow: hidden; padding-bottom: 10px; height:auto;clear: both}
.logo_ad .logo {  display: block; float: left;}
.logo_ad .logo img{ float: left; margin-top:10px}
.header_ad{ display: block; float: right; width: 545px; margin-top:30px;}
#scbar_txt {width: 150px;}
#umnav_menu li a{ color: #333; text-align: left}
#diy-tg_menu a{color: #333}
#hd .wp {padding:0;}
#hd { margin:0 auto; width:100%; line-height:22px; background:#545652; border-bottom:3px solid #f1f1f1; height:44px }
#nv {background:none;height:44px; line-height: 44px;overflow: hidden;padding-left: 3px; width:480px; float: left;}
#nv li {background:none;background-image:none !important; float: left;font-size: 14px;font-weight:100; height: 44px; line-height: 44px;padding-right: 1px;}
#nv li a {background:none; height: 44px; line-height: 44px; padding:0 15px; text-align: center}
#nv li a:hover{background: #3BA354}
#scbar{ border: none; background:none; border-radius:none; margin-top: 0;box-shadow:none; display: block; clear: both; border-radius:0;}
#chart {margin: 10px 0; background:#f7f7f7; padding:10px}
#pt{ border-top:2px solid #f2f2f2; padding:5px}
.bm, .ntc_l, .pn {border-radius:0;}
.fastlg_fm {border-right:none; }
.fastlg_fm .hm{ display: none}
.header_ad p {color: #BBBBBB; float: right;height: 20px;line-height: 22px;text-align: right; width: 400px;}
.ct2 .mn{ width: 640px}
.nvhm{background-position:0 -1px;}
/*门户样式*/
/*首页幻灯片*/
.demo-wrap{ display: block; width: 960px; height:280px; background:#dbdbdb; margin:0 auto 20px; position:relative; overflow: hidden; clear: both;}
.demo-wrap .bx-wrapper{ padding:10px 0 0 0; }
.demo-wrap .bx-window{ display:block; width: 930px; height: 233px;margin: 0 auto}
.demo-wrap .bx-window .multiple{ visibility: hidden}
.demo-wrap .bx-window ul li{ width:310px; height: 233px; float:left; position:relative}
.demo-wrap .bx-window ul li span{ display: block; width:314px; height: 34px; background:url(cf_xy.png) repeat; position:absolute; left:0; bottom:-1px}
.demo-wrap .bx-window ul li span a{ display: block; color: #fff; font-size: 14px; margin:8px; text-align:left}
.demo-wrap .bx-prev {background: url(wrap_left.png) no-repeat;width:30px;height:62px;position: absolute;text-indent: -999999px; left: 0; top: 100px}
.demo-wrap .bx-next {background: url(wrap_right.png) no-repeat;width:30px;height:62px;position: absolute;text-indent: -999999px;right:0; top: 100px}
.demo-wrap .pager {height: 15px;position:absolute; text-align: center;width: 960px; vertical-align: central;}
.demo-wrap .pager ul li { background: url(mini_jd.gif) no-repeat scroll 0 0 transparent; background-position:-4px -6px; cursor: pointer;display:inline-table; float: left; height: 15px;margin: 0 5px;overflow: hidden;vertical-align: top;width: 15px;}
.demo-wrap .pager ul li.current {background: url(mini_jd.gif) no-repeat scroll 0 0 transparent; background-position:-29px -6px; cursor: default;}
.demo-wrap .location{ margin-top: 15px; _margin-top: 6px;}
.demo-wrap .ul_page{ margin: 0 auto; width:90px}
.jd_l_b { clear:both; width:auto; height:20px; border-bottom: 5px solid #f2f2f2 }

#index_l{ width:640px; height:auto; float:left; display: block; overflow: hidden}
#wapmenu{ display: block; clear: both; height:45px; margin: 0; padding:0; overflow:hidden}
#wapmenu ul li{ float: left; width: 228px; height: 45px; margin:0 16px 0 10px; display:inline;}
#wapmenu ul .ask_box{ width: 170px; float: right}
#wapmenu .w_lcon{ display: block; width: 36px; height: 36px; margin: 5px 10px 0 0; float: left;}
#wapmenu .w_tit h1{font-weight: normal; font-size: 16px;}
#wapmenu .w_tit a{ color: #37a}
#wapmenu .w_tit a:hover{color:#3BA354}
#wapmenu .w_tit p{ font-size: 12px; color: #888}
.w_lcon .pick, .w_lcon .amoy, .w_lcon .write, .w_lcon .ask{ display: block; width: 36px; height: 36px;background:url(mini_jd.gif) no-repeat;}
.w_lcon .pick{background-position:0 -244px;}
.w_lcon .amoy{background-position:-43px -244px;}
.w_lcon .write{background-position:-87px -244px;}
.w_lcon .ask{background-position:-131px -244px;}
/*新闻头条*/
#topnews{ display:block; float:left; margin:0px 0 20px; width:640px; height:auto;}
#topnews p{ width:640px}
#topnews h1 a {font-family: "微软雅黑", "黑体"; font-size: 26px; line-height:60px; color: #333333; font-weight:100;}
#topnews h1 a:hover, .floor_n .f_n_l a:hover, .floor_n .f_n_r a:hover, .floor_n img_text a:hover, .floor_n .img_tit a:hover, .floor_n .f_n_list ul li a:hover{ color: #3BA354;}
#topnews ul {  margin:10px 5px 0 0;}
#topnews ul li{display:block; float:left; width: 315px; height:26px; line-height:26px; overflow: hidden}
#topnews ul li a { font-size:14px; line-height:22px; color:#37a; }
#topnews ul li a:hover { font-size:14px; color:#3BA354; }
#topnews ul li .news_span{ color:#666666; margin-right: 5px}
#topnews ul li .news_span a{color:#666666;}
#topnews ul li .news_span a:hover{color:#3BA354}
.f_tit{ display:block; width:640px; height:33px; line-height: 33px; background:#eeeeee; clear: both; margin-bottom: 20px }
.tit{ display:block; float:left; width:110px; height:33px; background:#3BA354; line-height: 33px}
.tit a{ padding-left:8px; line-height: 33px; _line-height: 35px;  font-size:22px; font-family:"微软雅黑", "黑体"; color:#fff;}
.tit a:hover{ padding-left:8px;   font-size:22px; font-family:"微软雅黑", "黑体"; color:#fff;}
.f_tit .tit a:hover{ color:#fff; line-height: 33px}
.f_tit p{ margin-right: 10px; float:right}
.f_tit p a{color: #37a}
.fagao {display: block;float: left;height: 14px;margin: 8px 5px 0 0;width: 12px;}
.block{ margin: 0}
.index_ad{ margin-bottom: 15px}
.vw .s {border-bottom: 1px solid #DFDFDF;color: #444;font-family: "楷体","宋体";line-height: 2;margin-top: 10px;padding-bottom: 10px;}
.xld dt a{ font-size: 20px; font-weight:600}
.vw .ph {color: #000000; padding: 15px 0 10px; font-size: 22px; font-family: "微软雅黑","黑体";}
.floor_n{ display: block; overflow: hidden; width:640px; margin-bottom: 20px; overflow: hidden}
.floor_n ul li a{ line-height: 22px; color: #37a}
.floor_n ul li a:hover{ color:#3BA354}
.floor_n .f_n_l a, .floor_n .f_n_r a,.floor_n img_text a, .floor_n .img_tit a { color: #37a}
.floor_n .f_n_l{ display: block; float: left; width: 304px; overflow: hidden; border-top: 1px solid  #E1E1E1; padding-top: 15px}
.floor_n .f_n_r{display: block; float:right; width: 310px; height:322px;}
.floor_n .f_n_r ul li{ text-indent:10px}
.floor_n .f_n_l_t{ border-top: 1px solid  #E1E1E1; width: 304px; height:125px; padding-top: 10px; float: left}
.floor_n .f_n_r_t{ border-top: 1px solid  #E1E1E1; height:125px; padding-top: 10px}
.floor_n .f_n_tit { width: 304px;border-bottom: 1px solid #E1E1E1;height: 26px; line-height: 30px;margin-bottom:10px;}
.floor_n .f_n_l ul{ width: 304px}
.floor_n .title{background: url(tit_bg.gif) repeat-x scroll left bottom transparent;color: #999999;display: block;height: 28px;text-align: center;width:60px;}
.floor_n .f_n_l ul li{ display:inline; float: left; width:122px; height:135px; margin: 0 25px 10px 5px}
.floor_n .f_n_l p { width:122px; height: 44px; overflow: hidden}
.floor_n .img_text ul li{ width: 280px; height:90px; display: block; float: left; margin:0 20px 18px}
.floor_n .img_text img{ float: left; margin-right: 5px}
.floor_n .img_text p{ width:150px; height:90px; float: left; line-height: 22px; overflow: hidden}
.floor_n .f_n_list{display: block; height:155px; width:640px; }
.floor_n .f_n_list .l_list{ display: block; float: left; width: 304px; height: 155px; overflow: hidden}
.floor_n .f_n_list .l_list ul li, .floor_n .f_n_list .r_list ul li{background: url("dian.gif") no-repeat scroll left center transparent;text-indent: 10px;}
.floor_n .f_n_list .r_list{ display: block; float: right; width: 304px; height: 155px; overflow: hidden}
.floor_n .img_tit ul li{ width: 120px; height: 135px; display: block; float: left; margin:5px 40px 0 0}
.floor_n .img_tit ul li p{height: 44px; overflow:hidden}
.floor_n .f_n_list ul li a{color: #37a}
.tiwen_list{ display:block; min-height: 300px; clear:both}
.tiwen_list .list_ul{padding:5px 0; margin-bottom:-1px; overflow:hidden; height:auto}
.tiwen_list h4 a{font-size:22px; line-height:22px; color:#37a; font-family:"微软雅黑", "黑体"; font-weight:100; }
.tiwen_list a:hover{ color:#3BA354 }
.tiwen_list .list_li{ width: 640px; margin:5px 0 10px 0; padding: 15px 0; border-bottom:3px solid #f1f1f1; overflow:hidden;zoom:1;}
.tiwen_list .no_border_top{ border-top: none}
.tiwen_list .pic{float:right;margin-left:10px;text-align:center;}
.tiwen_list .pic img{width:120px; height:120px;}
.tiwen_list p{ padding-left:15px; font-size:14px; line-height:32px; color:#333333}
.tiwen_list .n_t{ display:block; margin-top:10px}
.tiwen_list .new_cp{ display:inline; float:left; font-size:12px; line-height:18px; margin:0px 15px 0 0; padding:3px; background:#f7f0da;}
.tiwen_list .new_cp a{ color:#37a}
.tuien_list .new_cp a:hover{ color:#3BA354}
.tuien_list .list_tit { background:url(list_bg.gif) no-repeat left top;  padding-left:16px; }
.tuien_list .list_p { margin-top: 0; padding-top:0; font-size:14px; line-height:22px; color:#333333 }
.xg1_1{color:#999999; display:inline; margin-left:5px;  font-size:14px; line-height:26px; font-family:"宋体" }


/*右侧top*/
.doublet_bg{ background: #f7f7f7;  display: block;float: right;height: auto;padding:0 0 5px 0;width: 300px;}
.doublet{ display: block; width:300px; height: 180px; margin: 0 auto; background: #f7f7f7;}
.doublet .notice_top{ display: block; height: 26px; width: 300px; background:#fff; overflow: hidden; clear: both; padding-bottom: 5px}
.doublet .notice_top h2{ float: left; color: #666; font-size: 14px;}
.notice_r .ll{ float: left; margin-right: 10px}
.notice_r{ float: right}
.doublet .notice_tit{padding:5px 0;}
.bx-pager-current,.bx-pager-total{font-family: Georgia,Arial,Helvetica,sans-serif; color: #666}
.doublet .bx-prev{ display: block; float: left; width: 23px; height: 17px; background:url("bx_lr.gif") no-repeat 0 0; }
.doublet .bx-next{ display: block; float: left; width: 23px; height: 17px; background:url("bx_lr.gif") no-repeat -23px 0;}
.doublet .pic_gg{ width:120px; height: 60px; float: left; margin-right: 10px; _margin-right:7px}
.doublet .text_r{ width: 140px; float: right}
.doublet .bulletin{ width: 272px; margin: 10px auto 0}
.doublet .notice_li{ width: 272px; margin: 9px auto 0; color: #333}
.doublet .notice_li ul li{ display: block; clear: both; line-height: 22px}
.doublet #bulletinslider{visibility:hidden}
.em_draft{ width: 300px; height: 70px; background:none;  display: block; float: right;height: auto; margin:10px 0 10px 0;}
.more_tk{ display: block; width: 270px; height:auto; margin: 5px 0; }
.arc_r {background-color: #f7f7f7;display: block;float: right;padding-top: 0;width: 300px;}
.arc_r .r1_rec .title, #forum_r .toppic span { margin:0 auto; width:270px;  border-top:5px solid #dbdbdb; font-size: 22px; padding-bottom: 10px; color: #333; font-weight:100; font-family:"微软雅黑", "黑体"; }
#forum_r .toppic .title{ padding: 0; _padding: 0 0 0 10px;}
.r1_rec { display: block; width: 280px; height:auto; margin:10px auto 10px; overflow: hidden; _margin-left: 10px }
.arc_r .pic_list ul li{display:inline;float: left;height: 135px;margin: 5px 15px 5px 5px;width: 120px;}
.arc_r .pic_list ul li p{ height: 44px; overflow: hidden}
#forum_r .toppic ul{display: block; background:url(phb.gif) no-repeat left top; _margin-left: 10px }
.hot_phb ul{display: block; background:url(phb.gif) no-repeat left top; width:280px; height: 270px; }
.hot_phb ul li{ background:none; height: 22px; overflow: hidden; line-height: 22px; margin:5px 0; _margin:1px 0 5px 0; *margin:1px 0 5px 0; text-indent: 22px;}
#forum_r .toppic ul li{ background:none; line-height: 22px; margin:9px 0; *margin:5px 0; _margin:7px 0;text-indent: 15px}
.friendlink{ display:block;  width:960px; height:auto; margin:0 0 30px 0; padding-top:15px; line-height:22px; color:#dbdbdb; }
.f_link{ display:block; float:left; margin:3px 5px 0px 0px; width:15px; height:15px; background:url(mini_jd.gif) no-repeat -285px -36px;}
.friendlink .line{ margin: 0 4px}
.friendlink b{ float: left; color: #333; margin-right: 5px}
.friendlink .r_add { float: right; _margin-top: -20px; *margin-top: -20px; }
.friendlink .r_add a { color: #37a; float:left; font-size:12px;}
.friendlink .r_add a:hover { color: #3BA354; }
.friendlink a{ color: #333}
.friendlink a:hover{ color: #3BA354;}
.tk_left .mn{ width: 640px}
.floor_n  .f_n_r_t em, .floor_n  .f_n_l_t em{ float: right;}
.floor_n ul li em a{ color: #999}



/*社区样式*/
#forum_l{width: 680px;}
.bm{ background:none; border: none; height: auto;  padding: 5px 0 0 0; overflow: hidden; zoom: 1 }
#new_top{ display: block; height:auto; float: left; width: 660px; overflow: hidden; clear: both; margin:0px 0px 10px; padding-top: 5px; line-height: 24px; padding-bottom: 20px;}
#new_top .n_t_tit{ font-size: 14px; color: #666}
#new_top a{ color: #215b89; font-size: 12px}
#new_top li{ font-size: 12px}
#new_top a:hover{ color: #3BA354; width: 235px;height: 24px; overflow: hidden}
#new_top span{ float: right; width: 66px; height: 24px; overflow: hidden; text-align: right; color: #999}
#new_top_r{ width: 270px; height: auto; display: block; float: right; overflow: hidden; }
#n_t_box{ display: block; clear: both; overflow: hidden; width: 960px;}
.new_top_l{ display:inline; width:320px;height:auto; overflow: hidden; float: left;}
.new_top_l ul li, .new_top_r ul li{ width: 310px}
.new_top_r{ display:inline; width:320px;height:auto; overflow: hidden; float: right;}
.fl .bm_h {background: none;border:none;box-shadow:none;padding-left: 0; border-top: 5px solid #f1f1f1;border-radius:0}
.fl .bm_c, #online .bm_c, .lk .bm_c {padding: 10px 0;}
.fl_g dt{ overflow:hidden}
.fl_g dt a,.fl_g .xs2{ color: #37a;display: block;float: left;font-family: "微软雅黑","黑体";font-size: 22px;font-weight: 100;}
.fl_g_2 dt a,.fl_g .xs2{ color: #37a;display: block;font-family: "微软雅黑","黑体";font-size: 22px;font-weight: 100;}
.fl_g_2 .fl_icn_g{ margin-right: 10px}
.fl_g dt a:hover, .fl_g_2 dt a:hover{ color:#3BA354 }
.fl_g dd em{ margin-right: 0; width:auto;}
.fl_g dt a{ margin-right: 10px}
.dian, .block .xl1 ul li, .floor_n .f_n_r ul li, #view_top .v_t_r ul li {display:block; background:url(dian.gif) no-repeat; background-position:left 7px;}
#forum_r{ display:block; background:#f1f1f1; width:250px; height:auto; overflow: hidden;float:right;}
#forum_r .toppic{ display: block; width:228px; margin: 15px auto; }
#forum_r .toppic h1{font-size: 22px; color: #333; font-weight:100; font-family:"微软雅黑", "黑体"; margin-bottom: 10px}
#forum_r .toppic .m_star{ padding-top: 10px}
#forum_r .toppic .m_star a{ color: #37a}
#forum_r .toppic .m_star a:hover{ color: #3BA354}
#forum_r .toppic ul li a{ line-height: 22px; font-size: 12px; color: #333} 
#forum_r .toppic ul li a:hover{ color:#3BA354 }
#forum_r .toppic .w250 a{ width: 200px; height: 24px; line-height:22px; overflow: hidden}
#forum_r .toppic em{ font-size: 12px; color: #999}
.frame, .frame-tab{ background:none}
.mls li{ width: 57px}
#ft{ width: 100%; background: #333; padding-top: 40px; margin-top:100px}
#frt p, #frt , #ft a{ color: #ccc}
.hot_article{ display:block; padding:10px 10px 20px 10px}
.hot_article li{ line-height:27px;}
.hot_article ul li span{border:solid 1px #fef6ed; background: #fef6ed; width: 15px; height: 15px; line-height: 15px; text-align: center; float: left; color: #c5c5c5; margin:5px 5px 0 0; font-family:Arial;} 
.hot_article ul li .top_t1{background: #f57b0c; color: #fff; font-weight: bold; border-color: #f57b0c;} 
.fl .bm{ border: none}
#new_top .xl em a{ color: #999}
#view_top a{ color: #37a}
#view_top a:hover{ color:#3BA354}
#view_top{ display:block; overflow: hidden; width: 960px; height:auto;}
#view_top .v_t_l{ width: 650px; height: auto; overflow: hidden; float: left}
#view_top .v_t_l ul{ margin-left: 18px}
#view_top .v_t_l ul li{ float: left; width: 140px; margin: 18px 18px 18px 0}
#view_top .v_t_l p{ height: 20px; overflow: hidden}
#view_top .v_t_r{ width:260px; float:right; height:auto; overflow: hidden; margin:18px 18px 0 0; padding-left: 10px}
#view_top .v_t_r ul li{ height: 22px; line-height: 22px; overflow: hidden; text-indent: 10px}
.frame, .frame-tab{ border: none}
.fl_g dl{ margin-left: 64px}
.fl_g dd em.l{width: 150px}
.frame, .frame-tab{ margin-bottom: 0}
.bm{ background:none; border: none; border-top: 0px solid #f1f1f1; height: auto;  padding: 5px 0 0 0; overflow: hidden; zoom: 1 }
.bm h2 a{ display:block; float: left; color: #37a; font-size: 22px; font-family:"微软雅黑", "黑体"; font-weight: 100 }
.bm h2 a:hover{ color: #3BA354; }
.bm .bt{ border-top: 4px solid #f1f1f1}
.fl_tb .fl_icn{ display:block; float: left; width:65px; height: 65px; margin:0 5px 0 0 }
.fl_tb .fl_icn img{ width: 64px}
.fl_tb .xg1{ display:block;  line-height: 28px; font-size: 14px;font-family:Georgia, Arial,Helvetica,sans-serif }
.fl_tb ul li{ display:block; float: left; width: 335px; height: 100px; overflow: hidden}
.fl_tb .bar_box{ display:block; float: left; width:330px;overflow: hidden }
.fl_tb .fl_tit_r{ width: 250px; overflow: hidden}
.bm_h .xs2{font-weight: bold}


/*玩机指南*/
.follow_us{ width: 270px; margin: 0 auto}
.ad_r2{ display: block; margin: 10px 0 20px 0}
.guild {color: #DBDBDB;margin: 5px 2px 20px; width: 280px;}
.guild li a {color: #333333;line-height: 22px;margin: 0 10px;}
.guild li a:hover {color: #3BA354;}
.guild b {margin-left: 10px;}
.index_ct{ display: block; clear: both; overflow: hidden}

/*登陆框修改*/
.header_r{ display:inline; float:right; height: 38px; display: block; overflow: hidden}
.header_r .login { height:22px; display:block; float:right; margin-top:2px;  }
.header_r .QQ_dl,.header_r .sina_dl,.header_r .regist_zc, .header_r .stow, .header_r .pt_dl{ display:inline; float:left; width:59px; height:22px; background:url(mini_jd.gif) no-repeat; cursor: pointer; z-index: 900}
.header_r .QQ_dl {background-position:-343px -2px; margin-right:10px; }
.header_r .sina_dl {background-position: -343px -27px; margin-right:10px;}
.header_r .regist_zc{ background-position: -115px -27px;margin-right:15px;}
.header_r .stow{background-position:-2px -347px; margin-right: 10px; text-align: center; line-height: 20px; color: #fff}
.header_r .stow a{ color:#fff}
.header_r .weibo { position:absolute; display:block; float:right; width:70px; height:44px; font-size:12px; z-index:1 }
.header_r .email { display:inline; float:right; width:70px; height:22px; margin-top:13px; color:#999; }
.header_r .email a { color:#fff; font-size:12px; }
.header_r .email a:hover { color:#3BA354; font-size:12px; }
.loginafter{ display:block; float:right; height:22px; margin-top:13px; }
.loginafter .showmenu{ color: #fff}
.member{ display:block; float:left; width:15px; height:13px; margin-top:3px; background:url(mini_jd.gif) no-repeat -350px -320px;}
.mb_name{ display:block; float:left; overflow:hidden; color: #3BA354}
.after_r{ display:block; float:right; overflow:hidden; height:44px; line-height:44px; color:#666666}
.after_r a{ color:#fff;}
.afternews{ display:block; float:left; width:33px; height:12px; margin-top:16px; background:url(mini_jd.gif) no-repeat -278px -321px}
.lamp{ display:block; float:left; width:18px; height:15px; margin-top:14px; background:url(mini_jd.gif) no-repeat -321px -320px;}
.after_r ul li { display:block; float:left; margin:0 5px}
.after_r a{ display:block; float: left; line-height: 46px}
.after_r .newpm{color: #f00}
.after_r.newnotice{ color: #f00}
.loginafter ul .mb_star1 a { text-indent:-999em;}
.fastlg_fm{display:none}
.xld .atc img {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC;height: 80px;width: 80px;padding: 2px;}
/*应用评鉴轮换*/
.demo-wrap2{ display: block; width: 640px; margin:0px auto 30px; position:relative; overflow: hidden; clear: both }
.demo-wrap2 .bx-wrapper{ padding:0; }
.demo-wrap2 .bx-window{ display:block; width:640px; height:210px; background: #f7f7f7; margin: 0 auto;padding:0 5px;}
.demo-wrap2 .bx-window .multiple{ visibility: hidden}
.demo-wrap2 .bx-window ul li{ width:308px; height:170px; float:left; position:relative; margin: 20px 0; display: inline; overflow: hidden}
.demo-wrap2 .bx-window ul li .a_e_img{ display: inline; width:110px; height: 165px; float: left; margin: 0 16px 0 22px}
.demo-wrap2 .bx-window ul li .app_text{display: inline; width: 138px; height: 165px; float:left; overflow: hidden; line-height: 20px}
.demo-wrap2 .bx-window ul li .app_text h3{ font-weight:normal}
.demo-wrap2 .bx-window ul li .app_text span{ display: block; margin-top:8px; color: #999}
.demo-wrap2 .bx-window ul li .app_text em{ color: #333}
.demo-wrap2 .bx-next {background: url("wrap_right2.png") no-repeat;width:24px;height:50px;position: absolute;text-indent: -999999px;right:0; top:70px;}
.demo-wrap2 .bx-prev{ display: none}
.app_eva .a_e_tit{ border-top:6px solid #f1f1f1; line-height: 22px; padding:8px 0 10px;}
.app_eva .a_e_tit .fagao{ margin-top: 4px}
.app_eva .a_e_tit a{ color: #37a;}
.app_eva .a_e_tit strong a, .app_text h3 a{ color: #37a; font-size: 14px;}
.app_eva .a_e_tit strong a:hover, .app_eva .a_e_tit a:hover{color: #3BA354}
.app_eva .a_e_tit {border-top: 6px solid #F1F1F1;line-height: 22px; padding: 8px 0 10px;}

/*鸟儿独家的样式*/
.list_bbda {background: url("list_bg.gif") no-repeat scroll left 10px transparent;padding-left: 16px;}
.fastlg_fm{ display:none}
.header_r .pt_dl {background-position:-214px -184px; margin-right: 10px}
.scbar_type_td {background: url("mini_jd.gif") no-repeat scroll -1px -60px transparent !important;height: 37px;padding-left: 10px;width: 56px;}
.showmenu {background: url("http://www.tqun.com/static/image/common/arrwd.gif") no-repeat scroll 100% 50% transparent;cursor: pointer;padding-right: 16px;white-space: nowrap;}
.scbar_txt_td {background: url("mini_jd.gif") repeat scroll -5px -60px transparent;border: medium none;height: 37px;width: 289px;}
.scbar_txt_td #scbar_txt {border: 0 none;color: #555555 !important;height: 30px;line-height: 30px;margin: 0 10px;width: 276px; background:none;}
#scbar_btn{background: url("mini_jd.gif") no-repeat scroll -340px -60px transparent;display: block;float: left;height: 40px;text-indent: -999em;width: 61px;}
#scbar_btn:hover{background: url("mini_jd.gif") no-repeat scroll -340px -106px transparent;}
.scbar_btn_td {width: 61px;}
#scbar_type_menu {margin-top: 8px;}
.p_pop, .p_pof, .sllt {margin-left: -5px;min-width: 50px;}
.tiwen {display: block;float: left;}
.tiwen a {background: url("mini_jd.gif") no-repeat scroll 0 -106px transparent;cursor: pointer;display: block;height: 40px;margin: 0 0 0 20px;text-indent: -999em;width: 92px;}
#scbar_form{ display: block; float: right; width: 430px;}
#extcreditmenu{ padding-left: 0}
.foot_bg {height: 68px;overflow: hidden;padding: 0;width: 100%;text-align: center;}
.foot_bg ul li a {color: #AAAAAA;font-family: "微软雅黑","黑体";font-size: 20px;font-weight: 100;margin: 0 15px;}
.foot_bg ul li a:hover{color: #3BA354 !important}
.fl_g dt{ display: block;}
.fl_g dt a, .fl_g .xs2 {color: #37a;display: block !important;font-family: "微软雅黑","黑体";font-size: 22px !important;font-weight: 100;}
#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .o, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d{ margin-left: 0; margin-right: 0}
.zhaiyao {border-left: 5px solid #FF9933;display: block;margin-bottom: 20px; padding: 0 10px;}
.vw .h{ border: none}
.vw .s{ border-bottom: none; font-size: 14px; line-height: 18px; }
.vw .h{ margin-bottom: 5px !important}
#article_content p{ text-indent: 2em;}
.xg1, .xg1 a{ line-height: 22px}
.vw .ph{ padding: 10px 0;}
.editer {background-position: -214px -154px;}
.bm_h {background: none repeat scroll 0 0 #f1f1f1;border-bottom: medium none #DFDFDF;border-radius: 0; border-top: none}
.line30{ display:block; height: 30px; overflow: hidden}
.stores{  margin-bottom: 10px; background:url(http://www.tqun.com/images/stores_tit.gif) no-repeat;}
.stores_tit{height:41px; width: 300px; margin-bottom: 10px}
.stores_li{ display: block; width: 276px; margin:15px auto;}
.stores_li ul li, .arc_r .taoke_li ul li{ margin-bottom: 15px; overflow: hidden}
.stores_li .s_l_img{display: block; float: left; width: 80px; height: 80px; margin-right: 10px}
.stores_li .s_l_text p{ line-height: 14px; margin: 5px 0; color: #666; height: 30px; overflow: hidden}
.stores_li .s_l_text a{ color: #37a;  font-size:16px; font-family:"微软雅黑", "黑体";  font-weight:100;}
.stores_li .s_l_text span{ color:#508407}
.stores_li .s_l_text span a{ font-size: 12px;}
.stores_li .s_l_text span a:hover{color:#3BA354}
.taoke_li .s_l_img{display: block; float: left; width: 80px; height: 80px; margin-right: 10px}
.taoke_li .s_l_text p{ line-height: 14px; margin: 5px 0; color: #666; overflow: hidden; margin-bottom: 10px}
.taoke_li .s_l_text span{ color: #3BA354}
.taoke_li{ display: block; width: 276px; margin:15px auto; overflow: hidden}
.taoke_li .s_l_text a{ color: #37a;}
.toutiao { display: block; height:38px; background-color:#f1f1f1; padding:8px 0px; overflow:hidden; clear: both; width: 960px; margin:0 auto 10px}
.toutiao a{ color: #666}
.toutiao a:hover{ color: #3BA354}
.toutiao2 { width:960px; margin:0 auto; height:15px;}
.toutiao ul li { display:block; float:left; width:226px; margin-left: 10px }
.toutiao ul li img { border:none; float:left; margin-top: 3px }
.toutiao ul li p { width:155px; color:#666666; margin-left:10px; display: block; float: left; overflow: hidden; }
.xg1 #bdshare a{ margin-top: 0}
#bdshare{ *margin-top:10px;_margin-top:10px}
#um .diynav{ overflow: hidden; height:40px; overflow: hidden}
#huiyuan ul li{ display:inline;float: left; width:95px; height:150px; overflow: hidden}
.frame-title, .frametitle, .tab-title{ background:none;}


/*二级导航*/
#nv li.hover a:hover, #nv li.hover a {background: #417505;}


/*新闻首页幻灯片*/
.demo-wrap1{ display: block; width: 640px; height:165px; margin:0px auto 30px; position:relative; overflow: hidden; clear: both }
.demo-wrap1 .bx-wrapper{ padding:10px 0 0 0; }
.demo-wrap1 .bx-window{ display:block; width:640px; height:165px;margin: 0 auto}
.demo-wrap1 .bx-window .multiple{ visibility: hidden}
.demo-wrap1 .bx-window ul li{ width:640px; height:165px; float:left; position:relative}
.demo-wrap1 .s_m_img{ display: block; float: left; width: 120px; height: 120px; margin-right: 10px}
.demo-wrap1 .s_m_txt{ width: 462px; float: left; text-align:left}
.demo-wrap1 .s_m_txt h2 a{font-family: "微软雅黑", "黑体"; font-size: 26px; line-height: 26px; color: #333333; font-weight:100;}
.demo-wrap1 .s_m_txt h2 a:hover{color: #3BA354}
.demo-wrap1 .s_m_txt p{ font-size: 14px; line-height: 20px; margin-top: 10px}
.demo-wrap1 .bx-next {background: url("http://www.tqun.com/images/wrap_right.png") no-repeat;width:30px;height:62px;position: absolute;text-indent: -999999px;right:0; top:50px;}
.demo-wrap1 .pager {height: 15px;position:absolute; bottom: 0; text-align: center;width:640px; vertical-align: central;}
.demo-wrap1 .pager ul li { background: url("http://www.tqun.com/images/mini_jd.gif") no-repeat scroll 0 0 transparent;background-position:-57px -6px;cursor: pointer;display:inline-table; float: left; height: 15px;margin: 0 5px;overflow: hidden;vertical-align: top;width: 15px;}
.demo-wrap1 .pager ul li.current {background: url("http://www.tqun.com/images/mini_jd.gif") no-repeat scroll 0 0 transparent; background-position:-78px -6px;cursor: default;}
.demo-wrap1 .ul_page{ margin: 0 auto; width:90px}

.topnews2{ display:block; float:left; height:auto; margin: 0px 0 30px 0}
.topnews2 h1 a {font-family: "微软雅黑", "黑体"; font-size: 26px; line-height:32px; color: #333333; font-weight:100;}
.topnews2 p { margin:10px 0;  line-height:18px;color: #999 }
.topnews2 h1 a:hover { color: #3BA354;}
.topnews2 li { display:block; float:left; width: 300px; height:auto; margin:3px 5px 0 0}
.topnews2 ul li a { font-size:14px; line-height:22px; color:#37a; }
.topnews2 ul li a:hover { font-size:14px; color:#3BA354; }

.doublet{ height:165px}
.subscribe_tit {color: #999999;display: block; float: left; font-family: "微软雅黑","黑体"; font-size: 22px;font-weight: 100;margin-right: 10px;}
.dy_sina, .dy_qq {background: url("qq_sina.png") no-repeat scroll 0 0 transparent; display: block;float: left;height: 32px; width: 32px; margin-right: 10px}
.dy_sina{background-position:-4px -42px;}
.dy_qq{background-position:-4px -2px;}
.flw_hd .flw_btn_fo, .flw_hd .pm3 {height: 33px;margin-top: -8px;text-indent: -9999px;width: 80px;}
.flw_hd .pm3 {background-image: url("pmto2.png"); background-repeat: none;margin-left: 10px;width: 80px;}

.frame-tab .tb { border: medium none;clear: both; display: block;height: 33px; line-height: 32px; margin-top: 10px; padding-left: 15px; overflow: hidden; clear: both}
.tab-title{ height: 53px; margin-top: 10px}
.tb a{ border: none; color: #37a}
.frame-tab a:hover, .frame-tab .tb .a a{ background-color: #dbdbdb; color: #666; font-weight: normal}
.album ul li{ display: inline; float: left; overflow: hidden; width: 96px}
.frame-tab .tb li{ float: left}
#flw_post_extra {width: 608px;}
#umnav_menu{ z-index: 1000000}
.pob{line-height: 2}
.pls p, .pls .pil, .pls .o {margin: 5px 0;text-align: center;}
#scform_submit{ width:61px}
#scform_tb .a{background:url(searchbar.png) no-repeat 50% 100%;color:#333;font-weight:700;}
#scform_form{background:url(searchbar.png) repeat-x 0 0;}
.td_srchtxt{background:url(searchbar.png) no-repeat 0 -35px;}
.td_srchbtn{background:url(searchbar.png) no-repeat 0 -70px;}
.tl .th{ background:#f2f2f2 !important}
.tl .tf a.a{ background:#3BA354 !important}


/*20131126*/
.addradius .th{ border-radius:0}
.tl .th{ border-bottom:none}
.scbar_icon_td{ background:none}
.pn{ background-image:none; background:#3ba354; border:none}
.pg a:hover, .pgb a:hover{ border:1px solid #3ba354}
.xst{ font-size:14px}
.pls{ border-right:none; background:#f7f7f7;}
.tl tr:hover th, .tl tr:hover td{ background:#f9f9f9}
.tl th, .tl td{ border-bottom:1px solid #f2f2f2}
.xld .atc img{ border:none}
.bm_h{ padding:0 1px}
#um .showmenu{ margin-right:0}













